@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #EFF0F4;
  transition: 0.5s ease-in-out
}

.editor-preview,
.editor-preview-side {
  background-color: rgb(0, 17, 28);
  box-sizing: border-box;
  color: #fff;
  display: none;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  overflow: auto;
  padding: 0 15px 15px;
}

@layer base {

  h1,
  h2,
  h3,
  h4 {
    @apply font-bold
  }

  h1 {
    @apply text-5xl
  }

  h2 {
    @apply text-4xl
  }

  h3 {
    @apply text-3xl
  }

  h4 {
    @apply text-2xl
  }

  p {
    @apply text-sm;
  }

}

@layer components {
  .icon {
    @apply text-xl;
  }

  button {
    @apply cursor-pointer w-fit font-bold ml-1 py-2 px-4 rounded
  }

  form {
    @apply rounded-xl p-4
  }

  lable {
    @apply mt-4
  }

  input, select, textarea {
    @apply m-1 rounded border p-1 text-black
  }
}